@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic|Noto+Sans:400,700);
html {
  width: 100%;
  font-family: 'Lato', sans-serif; }

body {
  min-height: 100vh;
  margin: 0 auto;
  background-image: url("images/2000px-Flag_of_Washington,_D.C._icon.svg.png");
  text-align: center;
  font-family: "Tinos", serif; }

h1, h2, h3 {
  font-family: "Noto Sans", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.8em; }

h4 {
  font-style: italic; }

header {
  background-color: #f6f6f6;
  top: 0;
  position: fixed;
  background-image: url("images/banner.png");
  background-size: contain;
  width: 100%;
  margin-bottom: 20px;
  height: 250px;
  z-index: 1; }
  header .title {
    display: inline-flex;
    width: 95%;
    align-content: center;
    align-items: center;
    background: none;
    margin-top: 70px;
    margin-bottom: 5em;
    height: 0;
    color: #9E091E;
    text-shadow: 2px 2px black; }
    header .title h1 {
      width: 50%;
      text-align: left;
      margin-left: 1em; }
    header .title h2 {
      width: 50%;
      text-align: right; }
  header nav {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute; }
    header nav ul {
      list-style: none;
      display: inline-flex;
      align-content: space-around;
      margin: 0 auto;
      padding: 1em .5em; }
      header nav ul li {
        display: inline-block;
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        background-opacity: 0.4;
        color: #ce0c27;
        padding: 1em; }
        header nav ul li .dropdown {
          padding: 0;
          position: absolute;
          display: none;
          background: rgba(0, 0, 0, 0.8); }
          header nav ul li .dropdown li {
            display: block; }
        header nav ul li a {
          text-decoration: none;
          color: inherit; }
        header nav ul li .search {
          font-size: 0.8em; }
      header nav ul li:hover {
        background: #9E091E;
        color: #f6f6f6;
        -webkit-transition: background, color .5s;
        transition: background, color .5s; }
        header nav ul li:hover ul {
          display: block; }

main {
  margin-top: 270px; }

#sponsor, #status, #committees {
  width: 70%;
  margin: 0 auto; }
  #sponsor :target, #status :target, #committees :target {
    background: #c3c3c3; }
  #sponsor ul, #status ul, #committees ul {
    list-style: none; }

.bills {
  display: flex;
  margin: 0 auto; }

.filters {
  width: 40%;
  margin: 0 auto;
  border: 5px solid #999;
  padding-bottom: 1em;
  background-color: #faacb7; }
  .filters form label {
    display: inline-flex;
    padding: 0 1em;
    align-items: center;
    font-weight: bold; }
    .filters form label input[type='checkbox'] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 5px;
      border: 2px solid #555; }
      .filters form label input[type='checkbox']:checked {
        background: #560510; }

.bill {
  width: 50%;
  margin: 1em 5% 0 20%;
  background: #bbb;
  border: 5px groove #9E091E; }
  .bill h3 a {
    text-decoration: none;
    color: #9E091E; }

.billdetail {
  width: 70%;
  margin: 10% auto 0;
  font-weight: 700;
  font-size: 1.2em;
  background: #bbb;
  border: 5px groove #9E091E; }
  .billdetail h3 a {
    text-decoration: none;
    color: #9E091E; }

.votes, .votes-show {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 3em;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #f6f6f6;
  border: 5px groove #9E091E; }
  .votes .fa-thumbs-up, .votes-show .fa-thumbs-up {
    color: green;
    margin-right: 5px; }
  .votes .fa-thumbs-down, .votes-show .fa-thumbs-down {
    color: #9E091E;
    margin-right: 5px; }

.votes-show {
  width: 25%;
  margin: 0 auto;
  justify-content: center; }

.fa-thumbs-up:hover {
  color: #003400;
  font-size: 1.2em; }

.fa-thumbs-down:hover {
  color: #560510;
  font-size: 1.2em; }

/*# sourceMappingURL=style.css.map */
