<div class="bills-container">
  <div class="bills-heading">
    <h2>DC Council Legislation</h2>

    <div class="results">Showing {{activeBills.length}} of {{legIndex.all.length}}</div>
    <h4 class="load-note">Please be patient: bills may take a few seconds to appear</h4>
  </div>
  <div class="legislation" ng-repeat="leg in activeBills = (legIndex.all | filter:legIndex.watchFilters | filter:legIndex.query | orderBy:'-Legislation.Modified')">
    <div class="leg-item bill">
      <div class="bill-heading">
        <h3><a ng-href="/{{leg.Legislation.LegislationNumber}}">{{leg.Legislation.LegislationNumber}}: {{leg.Legislation.ShortTitle}}</a></h3>
      </div>
      <div class="bill-detail">
        <p>Type: {{leg.Legislation.Subcategory}}</p>
        <!-- <p>Introduction Date: <span ng-if="leg.Legislation.IntroductionDate != 0">{{leg.Legislation.IntroductionDate | date:"longDate"}}</span>
        <span ng-if="leg.Legislation.IntroductionDate == 0">N/A</span></p>
        <p>Last Update: <span ng-if="leg.Legislation.Modified != 0">{{leg.Legislation.Modified | date:"longDate"}}</span>
        <span ng-if="leg.Legislation.Modified == 0">N/A</span></p> -->
        <p>Status: {{leg.Legislation.LegislationStatus}}</p>
        <!-- <p>Committee: {{leg.Legislation.CommitteeReferral}}</p> -->
      </div>
    </div>
    <div class="votes">
      <span class="vote-item"><i class="fa fa-thumbs-up" ng-click="legIndex.upvote(leg)"></i>{{leg.score.supporting}}</span>
      <span class="vote-item"><i class="fa fa-thumbs-down" ng-click="legIndex.downvote(leg)"></i>{{leg.score.opposing}}</span>
    </div>
  </div>
</div> <!-- .bills-container -->
