$small: max-width 767px;
$small-medium: max-width 979px;
$medium: 768px 979px;
$medium-large: 768px 1199px;
$medium-xl: min-width 768px;
$large: 980px 1199px;
$large-xl: min-width 980px;
$x-large: min-width 1200px;
