$colorPrimary: #9E091E;
$colorSecondary: #f6f6f6;

$background-gray: #EEEEEE;
$background-cream: #F9F0E8;
$peach: #D07755;

$black: #000000;
$gray-1: #333333;
$gray-2: #666666;
$gray-3: #999999;
$gray-4: #CCCCCC;
$white: #FFFFFF;
