.nav-menu {
  margin: 0 auto;
  padding-bottom: 1em;

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    li {
      position: relative;
      background-opacity: 0.4;
      color: $background-cream;
      padding: 1em 2em;
      border: 1px solid $background-cream;

      &:hover {
        background: darken($background-cream, 10%);
        color: $colorPrimary;
        // -webkit-transition: background .8s, color .5s;
        //   transition: background .8s, color .5s;
      }

      a {

      }
      a, a:hover {
        text-decoration: none;
        @include font-weight-color-size($serif, $bold, inherit, 2.5);
      }
    }
  }
}
      //
      // a:visited, a:active {
      //   text-decoration: none !important;
      //
      // }



    // & .dropdown {
    //   margin-top: 1em;
    //   padding: 0;
    //   position: absolute;
    //   display: none;
    //   background: rgba(0, 0, 0, 0.8);
    //   & li {
    //     display: block;
    //     padding: 1em;
    //   }
    // }

      // & ul {
      //   display: block;
      //   & li {
      //     border-top: 1px solid $colorSecondary;
      //   }
      // }
