.search-container {

  h5 {
    margin-top: 0;
  }
  .search-form {
    padding: 10px 5% 0 5%;

    .search {
      width: 100%;
      font-size: 1.5em;
      color: darken($colorPrimary, 10%) !important;
      padding-left: 5px;
      border: 1px solid $colorPrimary;
      text-align: center;
    }
    .search-button {
      display: inline-block;
      vertical-align: middle;
      width: auto;

      button {
        font-size: 1.5em;
        height: 1.8em;
        background: $colorSecondary;

        &:hover {
          background: $gray-4;
        }
        &:focus {
          outline: 0;
        }

        i {
          color: $colorPrimary;

          &:hover {
            color: darken($colorPrimary, 15%);
          }
        }
      }
    }
  }
}
