.votes, .votes-show {
  display: flex;
  flex-direction: row;
  // width: 20%;
  // height: 3em;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: $colorSecondary;
  margin-right: 10px;

  .vote-item {
    padding: 0 1em .5em 1em;
    & .fa-thumbs-up {
      color: green;
      margin-right: 5px;
    }
    & .fa-thumbs-down {
      color: $colorPrimary;
      margin-right: 5px;
    }
  }

  @include breakpoint($medium-large) {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 3em;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: $colorSecondary;
    border: 1px solid $colorPrimary;
    margin-right: 10px;
  }
}

.fa-thumbs-up:hover {
  color: darken(green, 15%);
  font-size: 1.2em;
}

.fa-thumbs-down:hover {
  color: darken($colorPrimary, 15%);
  font-size: 1.2em;
}
