<h2>Welcome to LegiTrack DC!!!</h2>
<div class="about">
<h3>About</h3>
<p>LegiTrack was inspired by the <a href="https://openlims.herokuapp.com/index.html">OpenLIMS</a> project created by <a href="https://esq.io/">V. David Zvenyach</a>. It provides a responsive and flexible interface to DC's legislative information.</p>
</div>

<div class="how">
<h3>How to Use</h3>
  <ol>
    <li>View All Bills: click on the "All Bills" option under the "Browse Legislation" tab.</li>
    <li>Search Bills: enter any word in the Search bar in the header. The list of bills will update automatically.</li>
    <li>View a Bill: Click on the title of any bill to view more details</li>
  </ol>
</div>
