<div ng-repeat="item in updateBills.billDetail | orderBy:'Legislation[0].Title'">
  <div class="bill">
    <p>{{item.Legislation[0].Title}}: {{item.Legislation[0].ShortTitle}}</p>
    <p>Introduction Date: {{item.Legislation[0].IntroductionDate | date:"longDate"}}</p>
    <p>Last Update: {{item.Legislation[0].Modified | date:"longDate"}}</p>
    <p>Status: {{item.Legislation[0].LegislationStatus}}</p>
    <!-- <p>Sponsor(s): {{item.Legislation[0].Introducer[0].Name}}</p>
    <p>Co-Sponsor(s): {{item.Legislation[0].CoSponsor[0].Name}}</p> -->
    <p>Sponsor(s): <span ng-repeat='cm in item.Legislation[0].Introducer track by $index'>{{cm.Name}}<span ng-if="!$last">, </span></span></p>
    <p ng-if="item.Legislation[0].CoSponsor">Co-Sponsor(s): <span ng-repeat='cm in item.Legislation[0].CoSponsor track by $index'>{{cm.Name}}<span ng-if="!$last">, </span></span></p>
    <p>Committee: <span ng-repeat='cm in item.Legislation[0].CommitteeReferral track by $index'>{{cm.Name}}<span ng-if="!$last">, </span></span></p>
    <p><a href="http://lims.dccouncil.us/Download/{{item.Legislation[0].AttachmentPath[0].RelativePath}}/{{item.Legislation[0].AttachmentPath[0].Name}}" target="_blank">View Bill</a></p>
  </div>
</div>
