<h2>DC Council Legislation</h2>
<div class="filters">
  <h3>Filter Bills by:</h3>
  <form name="sortForm" class="options">
    <label>Committee
      <input type="checkbox" value="committees">
    </label>
    <label>Sponsor
      <input type="checkbox" value="sponsor">
    </label>
    <label>Status
      <input type="checkbox" value="status">
    </label>
    <label>Popularity
      <input type="checkbox" value="status">
    </label>
  </form>
</div>
<h4 class="load-note">Please be patient: bills may take a few seconds to appear</h4>

<!-- <div class="results">Number of results: {{billsCtrl.count()}}</div> -->
<div class="bills" ng-repeat="bill in billsCtrl.bills | filter:query | orderBy:'-action_dates.last'">
  <div class="bill" ng-if="bill.bill_id.indexOf('B') == 0">
    <h3><a ng-href="http://lims.dccouncil.us/Legislation/{{bill.bill_id}}" target="_blank">{{bill.bill_id}} - {{bill.title}}</a></h3>
    <h4>Type: Bill</h4>
    <span ng-if="bill.actions != ''">
      <p>Date Introduced: {{bill.action_dates.first | date:"MM/dd/yyyy"}}</p>
      <p>Latest Action: {{bill.action_dates.last | date:"MM/dd/yyyy"}}</p>
    </span>
    <span ng-repeat="update in bill.actions | filter:{$: 'committee'}">
      <p>Committee: {{update.related_entities[0].name}}</p>
    </span>
    <div>
      <span>Sponsor(s):</span>
      <span ng-repeat="sponsor in bill.sponsors | filter:{$: 'primary'}">{{sponsor.name}}<span ng-if="!$last">, </span></span>
    </div>
    <div>
      <span>Co-Sponsor(s):</span>
      <span ng-repeat="sponsor in bill.sponsors | filter:{$: 'cosponsor'}">{{sponsor.name}}<span ng-if="!$last">, </span></span>
    </div>
  </div>
  <div class="votes" ng-if="bill.bill_id.indexOf('B') == 0">
    <span><i class="fa fa-thumbs-up" ng-click="billsCtrl.upvote(bill)"></i>{{bill.score.supporting}}</span>
    <span><i class="fa fa-thumbs-down" ng-click="billsCtrl.downvote(bill)"></i>{{bill.score.opposing}}</span>
  </div>
</div>
